<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>创建任务</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/js/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body>
<div style="padding: 100px 100px 10px;">
    <span style="color: red">如果多个任务用户名和密匙是一样的，则只能显示最新的任务</span>
    <div class="alert alert-info" role="alert">创建任务</div>
    <form class="form-horizontal" role="form" action="/task/add" method="post">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">任务名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="请输入任务名">
            </div>
        </div>
        <div class="form-group">
            <label for="author" class="col-sm-2 control-label">创建人</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="author" name="author" placeholder="请输入姓名">
            </div>
        </div>
        <div class="form-group">
            <label for="desc" class="col-sm-2 control-label">任务描述</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="desc"  name="desc" placeholder="请输入任务描述">
            </div>
        </div>
        <div class="form-group">
            <label for="desc" class="col-sm-2 control-label">任务管理密匙</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="passwd" name="passwd" placeholder="请输入任务密匙">
            </div>
        </div>
        <div class="form-group">
            <label for="time" class="col-sm-2 control-label">任务有效时间/h</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="time" name="time"  placeholder="请输入小时数">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">创建任务</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>